.swiper {
    padding: 40px 0 0 0;
} 
.swiper-button-next , .swiper-button-prev {
    position: absolute;
    top: 2px;
    z-index: 9;
    background-color: #efefef;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.swiper-button-prev {
    right: 36px;
    transform: rotate(180deg);
}
.swiper-button-next {
    right: 0;   
}
.swiper-button-next:hover ,
.swiper-button-prev:hover {
    background-color: #e1e1e1;
}
.swiper-navigation-icon {
    width: 8px;
}