@import "tailwindcss";
@layer components {
  .container {
    @apply px-4 mx-auto  w-full sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] 2xl:w-[1320px];
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


.rdrSelected, .rdrInRange, .rdrStartEdge, .rdrEndEdge
 {
    background: #ff6467;
   
}


@media (max-width: 768px) {
  .rdrCalendarWrapper {
    width: 100% !important;
    min-width: 0 !important;
  }
  .rdrDateRangePickerWrapper {
    flex-direction: column !important;
  }
  .rdrDefinedRangesWrapper {
    display: none;
  }
}
